@use '../../assets/styles/typography' as *;
@use '../../assets/styles/variables' as *;
@use '../../assets/styles/global' as *;



.med-details {
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}