@use '../../assets/styles/typography' as *;
@use '../../assets/styles/variables' as *;
@use '../../assets/styles/global' as *;

.new-med {
    // @include roboto-light;

    &__title {
        @extend .global__title;
        background-color: white;
        padding: 10px 0;
        margin-bottom: 30px;
    }

}

.med-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__button {
        @extend .global__button;
    }

    &__container {
        margin: 0 auto;
        width: 70%;
        height: 100%;
    }

}