@use '../../assets/styles/typography' as *;
@use '../../assets/styles/variables' as *;
@use '../../assets/styles/global' as *;

.notes {

    &__container {
        width: 70%;
        margin: 0 auto;
    }

    &__title {
        @extend .global__title;
        background-color: white;
        padding: 10px 0;
        margin-bottom: 10px;
    }

    &__calendar {
        margin-bottom: 0.4rem;
    }

    &__meds-list {
        margin-bottom: 0.5rem;
        border: none;
        border-radius: 10px;
        height: 3rem;
        background-color: $accent-color;
        padding: 0.5rem;

        &-item {
            @include roboto-light;
            font-size: 0.9rem;
        }

        &--none {
            @extend .notes__meds-list;
            @extend .notes__meds-list-item;
            height: fit-content;
            padding: 10px;
        }
    }

    &__input {
        border: none;
        border-radius: 10px;
        height: 5rem;
        width: 100%;
        margin-top: 5px;
        background-color: #F1F1F1;
        padding: 0.5rem;
        font-size: 0.9rem;
        resize: none;
        color: $text-color;
        @include roboto-light;

        &:focus {
            outline: 2px solid $primary-color;
        }
    }

    &__label {
        margin-bottom: 5px;
        @include roboto-light;
        font-size: 0.9rem;
    }

    &__button {
        @extend .global__button;
    }
}