@use '../../assets/styles/typography' as *;
@use '../../assets/styles/variables' as *;
@use '../../assets/styles/global' as *;

.profile {
    // padding-top: 30px;

    &__gradient {
        width: 100%;
        height: 9rem;
        z-index: -1;
        position: relative;
    }

    &__container {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__inputs {
        width: 85%;
        margin: 0 auto;
    }

    &__button {
        @extend .global__button;
        // width: 85%;
    }
}