@use '../../assets/styles/typography' as *;
@use '../../assets/styles/variables' as *;
@use '../../assets/styles/global' as *;

.profile {

    &__gradient {
        width: 100%;
        height: 11rem;
        z-index: -1;
        position: relative;
    }

    &__container {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__inputs {
        width: 75%;
        margin: 0 auto;
    }

    &__button-link {
        width: 75%;
    }
}