@use '../../assets/styles/typography' as *;
@use '../../assets/styles/variables' as *;
@use '../../assets/styles/global' as *;


.med-list {
    background-color: $background-color;

    &__title {
        @extend .global__title;
        background-color: white;
        padding: 10px 0;
        margin-bottom: 30px;
    }

    &__heading {
        font-size: 1.3rem;
        margin: 10px 0 10px 0;
    }

    &__block {
        margin: 0 auto;
        width: 85%;
    }
}