@use '../../assets/styles/typography' as *;
@use '../../assets/styles/variables' as *;
@use '../../assets/styles/global' as *;


.med-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;

    &__button {
        @extend .global__button;

        &--delete {
            @extend .global__button;
            margin-top: 60px;
            background-color: #F88976;
        }
    }

    &__container {
        margin: 0 auto;
        width: 70%;
        height: 100%;
    }

    &__card {
        height: 2.8rem;
        margin-top: 30px;
        background-color: $accent-color;
        border-radius: 10px;
        padding: 15px 0 0 40px;
        background-image: url('../../assets/images/right-chevron.svg');
        background-repeat: no-repeat;
        background-position: 90%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        text-decoration: none;
        color: $text-color;
    }

}