@use '../../assets/styles/typography' as *;
@use '../../assets/styles/variables' as *;
@use '../../assets/styles/global' as *;

.log-med-modal {


    &__medication {
        padding-top: 8px;
        display: flex;
        justify-content: space-between;

        &-dose {
            padding-right: 20px;

        }
    }
}